@model VehicleFleetAPI.Models.VehicleInsuranceModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>VehicleInsuranceModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
